@import '../../Utils/mixins.scss';

.loadingDiv {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.editDevice {
	padding: 10px;
	@include make-flex(column, center, center);
	
	&__card {
		width: 600px;
	}
	
	&__saveButtonDiv {
		@include make-flex(row, center, space-between);
		
		button:nth-child(1) {
			background-color: white;
			color: black;
			border: 1px solid #d0d7de;
		}
	}
	
	&__queue {
		@include make-flex(row, center, start);
		gap: 10px; 
		
		p {
			margin: 0;
		}
	}
}