.notification {
	width: 100%;
	max-width: 300px;
	position: absolute;
	top: 12px;
	right:12px;
	z-index: 999;
	padding: 5px;
	border-radius: 10px;
	background-color: #ff3333;
	color: #fff;
	
	opacity: 0;
	transition: opacity 0.15s linear;
}

.notification--active {
	opacity: 1;
}

.notification--green {
	background-color: rgb(17, 184, 17);
}

.notification-title {
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	margin-top: 0;
	margin-bottom: 6px;
}

.notification-message {
	margin: 0;
	text-align: left;
	/* overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
}