
.slot-grey, .slot-red, .slot-green {
	border-radius: 5px;
	width: 25px;
	height: 25px;
	margin: auto;
}

.slot-grey {
	background-color: #969696;	
}

.slot-red {
	background-color: #FF0000;
}

.slot-green {
	background-color: rgb(17, 184, 17);
}

