
.slot-grey, .slot-red, .slot-green {
	border-radius: 5px;
	width: 15px;
	height: 15px;
	margin: auto;
}

.slot-grey {
	background-color: #969696;	
}

.slot-red {
	background-color: #FF0000;
}

.slot-green {
	background-color: #00FF00;
}