
.plain-div {
	height: 5em;
	width: 100%;
	max-width: 300px;
	padding: 16px;
	border: 1px solid #d0d7de;
	border-radius: 5px;
	background-color: #fff;
	text-align: center;
}

.forgot-password-link {
	text-decoration: none;
	font-size: 0.8em;
	color: #0070f3;
}

label {
	margin-bottom: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
